<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Moj račun | SyncRide')}"
    ></th:block>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div class="px-52 py-4 mt-16">
        <h1
          class="text-3xl font-semibold justify-center items-center text-left"
        >
          Račun
        </h1>
        <div class="flex text-lg">
          <p th:text="${user.fullName} + ', ' + ${user.email}"></p>
        </div>

        <div class="grid grid-cols-3 gap-4 mt-12">
          <!-- Prva kartica -->
          <a
            href="/account/personal-info"
            class="block h-[40dvh] bg-white rounded-2xl shadow-md px-3.5 py-3.5"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-id-card"
            >
              <path d="M16 10h2" />
              <path d="M16 14h2" />
              <path d="M6.17 15a3 3 0 0 1 5.66 0" />
              <circle cx="9" cy="11" r="2" />
              <rect x="2" y="5" width="20" height="14" rx="2" />
            </svg>

            <p class="text-lg font-medium mt-4">Osobni podaci</p>
            <p class="text-base text-gray-500 mt-2">
              Navedite osobne podatke i kako možemo s Vama kontaktirati
            </p>
          </a>

          <!-- Druga kartica -->
          <a
            href="/account/user-profile"
            class="block h-[40dvh] bg-white rounded-2xl shadow-md px-3.5 py-3.5"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-square-user-round"
            >
              <path d="M18 21a6 6 0 0 0-12 0" />
              <circle cx="12" cy="11" r="4" />
              <rect width="18" height="18" x="3" y="3" rx="2" />
            </svg>

            <p class="text-lg font-medium mt-4">Tvoj profil</p>
            <p class="text-base text-gray-500 mt-2">Tvoj profil</p>
          </a>

          <!-- Treca  -->
          <a
            href="/account/login-and-security"
            class="h-[40dvh] bg-white rounded-2xl shadow-md px-3.5 py-3.5"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-shield-half"
            >
              <path
                d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"
              />
              <path d="M12 22V2" />
            </svg>
            <p class="text-lg font-medium mt-4">Prijava i sigurnost</p>
            <p class="text-base text-gray-500 mt-2">
              Ažurirajte lozinku i zaštitite račun
            </p>
          </a>

          <!-- Cetvrta  -->

          <a
            href="/account/payment-methods"
            class="h-[40dvh] bg-white rounded-2xl shadow-md px-3.5 py-3.5"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-banknote"
            >
              <rect width="20" height="12" x="2" y="6" rx="2" />
              <circle cx="12" cy="12" r="2" />
              <path d="M6 12h.01M18 12h.01" />
            </svg>
            <p class="text-lg font-medium mt-4">Plaćanje i isplate</p>
            <p class="text-base text-gray-500 mt-2">
              Pregledajte podatke o plaćanju
            </p>
          </a>

          <!-- Peta  -->

          <a
            href="/account/vehicles"
            class="h-[40dvh] bg-white rounded-2xl shadow-md px-3.5 py-3.5"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-banknote"
            >
              <rect width="20" height="12" x="2" y="6" rx="2" />
              <circle cx="12" cy="12" r="2" />
              <path d="M6 12h.01M18 12h.01" />
            </svg>
            <p class="text-lg font-medium mt-4">Moja vozila</p>
            <p class="text-base text-gray-500 mt-2">
              Pregledajte podatke o plaćanju
            </p>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
