<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Dodaj vozilo | SyncRide')}"
    ></th:block>
  </head>
  <body class="m-0 h-screen flex flex-col">
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div class="px-4 md:px-52 py-4 md:mt-16">
        <h1 class="text-3xl font-semibold text-gray-800">Dodaj novo vozilo</h1>
        <form
          action="/account/vehicles/new"
          method="post"
          class="space-y-4 mt-12"
          x-data="{
            seats: 1, 
            minSeats: 0, 
            maxSeats: 10,
            year: 2024,
            minYear: 1800,
            maxYear: 2024}"
        >
          <input type="hidden" name="redirectUrl" th:value="${redirectUrl}" />
          <div class="w-full">
            <label
              for="make"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Proizvođač vozila</label
            >
            <input
              type="text"
              id="make"
              name="make"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="npr. Volkswagen"
              required
            />
          </div>
          <div class="w-full">
            <label
              for="model"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Model vozila</label
            >
            <input
              type="text"
              id="model"
              name="model"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="npr. Golf"
              required
            />
          </div>
          <div class="w-full">
            <label
              for="yearOfManufacture"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Godina proizvodnje</label
            >
            <div
              :class="{'border-red-500': year < minYear || year > maxYear}"
              class="py-3 px-4 bg-white border border-gray-200 rounded-lg dark:bg-neutral-900 dark:border-neutral-700"
              data-hs-input-number='{
              "step": 1,
              "min": 0,
              "max": 2024
            }'
            >
              <div class="w-full flex justify-between items-center gap-x-5">
                <div class="grow">
                  <input
                    id="yearOfManufacture"
                    name="yearOfManufacture"
                    x-model="year"
                    class="w-full p-0 bg-transparent border-0 text-gray-800 focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white"
                    style="-moz-appearance: textfield"
                    type="number"
                    aria-roledescription="Number field"
                    th:value="${#dates.format(#dates.createNow(), 'yyyy')}"
                    data-hs-input-number-input=""
                    required
                  />
                </div>
                <div class="flex justify-end items-center gap-x-1.5">
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Decrease"
                    data-hs-input-number-decrement=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                    </svg>
                  </button>
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Increase"
                    data-hs-input-number-increment=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5v14"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <p
              x-cloak
              x-show="year < minYear || year > maxYear"
              class="text-sm text-red-600 mt-2"
            >
              Godina proizvodnje vozila je izvan raspona.
            </p>
          </div>
          <div class="w-full">
            <label
              for="color"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Boja vozila</label
            >
            <input
              type="text"
              id="color"
              name="color"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="npr. crna"
              required
            />
          </div>
          <div class="w-full">
            <label
              for="seatCount"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Broj sjedala</label
            >
            <div
              :class="{'border-red-500': seats < minSeats || seats > maxSeats}"
              class="py-3 px-4 bg-white border border-gray-200 rounded-lg dark:bg-neutral-900 dark:border-neutral-700"
              data-hs-input-number='{
              "step": 1,
              "min": 1,
              "max": 10
            }'
            >
              <div class="w-full flex justify-between items-center gap-x-5">
                <div class="grow">
                  <input
                    id="seatCount"
                    name="seatCount"
                    x-model="seats"
                    class="w-full p-0 bg-transparent border-0 text-gray-800 focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white"
                    style="-moz-appearance: textfield"
                    type="number"
                    aria-roledescription="Number field"
                    value="1"
                    data-hs-input-number-input=""
                    required
                  />
                </div>
                <div class="flex justify-end items-center gap-x-1.5">
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Decrease"
                    data-hs-input-number-decrement=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                    </svg>
                  </button>
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Increase"
                    data-hs-input-number-increment=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5v14"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <p
              x-cloak
              x-show="seats < minSeats || seats > maxSeats"
              class="text-sm text-red-600 mt-2"
            >
              Broj slobodnih sjedala je izvan raspona.
            </p>
          </div>
          <div class="w-full">
            <label
              for="licensePlate"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Registarska oznaka vozila (opcionalno)</label
            >
            <input
              type="text"
              id="licensePlate"
              name="licensePlate"
              class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="npr. ZG0000XX"
            />
          </div>
          <button
            :disabled="(year < minYear || year > maxYear || seats < minSeats || seats > maxSeats)"
            type="submit"
            class="py-2 px-3 inline-flex w-full justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-emerald-400 text-white hover:bg-emerald-500 focus:outline-none focus:bg-emerald-500 disabled:opacity-50 disabled:pointer-events-none"
          >
            Dodaj
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
