<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Moje vožnje | SyncRide')}"
    ></th:block>
  </head>
  <body class="flex flex-col h-screen">
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main class="h-full">
      <div class="px-4 md:px-52 py-4 md:mt-16">
        <div>
          <h2
            class="text-3xl font-semibold justify-center items-center text-left"
          >
            Aktivne vožnje
          </h2>
        </div>
        <div>
          <h2
            class="text-3xl font-semibold justify-center items-center text-left"
          >
            Povijest vožnji
          </h2>
          <p class="text-gray-500 dark:text-neutral-400">
            Preline UI is an open-source set of prebuilt UI components based on
            the utility-first Tailwind CSS framework.
          </p>
          <div
            id="hs-show-hide-collapse-heading"
            class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-show-hide-collapse"
          >
            <p class="text-gray-500 dark:text-neutral-400 mt-2">
              This is a collapse body. It is hidden by default, until the
              collapse plugin adds the appropriate classes that we use to style
              each element. These classes control the overall appearance, as
              well as the showing and hiding via CSS transitions.
            </p>
          </div>
          <p class="mt-2">
            <button
              type="button"
              class="hs-collapse-toggle inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 decoration-2 hover:text-blue-700 hover:underline focus:outline-none focus:underline focus:text-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-600 dark:focus:text-blue-600"
              id="hs-show-hide-collapse"
              aria-expanded="false"
              aria-controls="hs-show-hide-collapse-heading"
              data-hs-collapse="#hs-show-hide-collapse-heading"
            >
              <span class="hs-collapse-open:hidden">Vidi sve</span>
              <span class="hs-collapse-open:block hidden">Vidi manje</span>
              <svg
                class="hs-collapse-open:rotate-180 shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </button>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
