<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Osobni podaci | SyncRide')}"
    ></th:block>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <!-- Zasjenjenje (overlay) -->
    <div
      id="overlay"
      class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden z-10"
    ></div>
    <main>
      <div class="px-4 md:px-52 py-4 mt-16">
        <!-- BREADCRUMBS-->
        <ol class="flex items-center whitespace-nowrap text-sm">
          <li class="inline-flex items-center">
            <a
              class="flex items-center text-gray-600 hover:text-gray-900 focus:outline-none focus:text-gray-900 dark:text-neutral-500 dark:hover:text-blue-500 dark:focus:text-blue-500"
              href="/account"
            >
              Račun
            </a>
            <svg
              class="shrink-0 mx-2 size-4 text-gray-400 dark:text-neutral-600"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </li>
          <li class="inline-flex items-center">
            <a
              class="flex items-center text-gray-600 hover:text-gray-900 focus:outline-none focus:text-gray-900 dark:text-neutral-500 dark:hover:text-blue-500 dark:focus:text-blue-500"
              href="/account/personal-info"
            >
              Osobni podaci
            </a>
          </li>
        </ol>

        <!-- HEADER -->
        <h1 class="mt-4 text-4xl font-bold text-gray-800">Osobni podaci</h1>
        <div
          class="flex md:w-2/3 justify-between mt-12 bg-white rounded-xl shadow"
        >
          <!-- LEFT SIDE: PERSONAL INFO DISPLAY-->
          <div class="w-full px-4">
            <div class="py-4 flex justify-between items-center">
              <div>
                <p class="font-semibold">Ime i prezime</p>
                <p class="text-gray-800" th:text="${user.fullName}"></p>
              </div>
              <button class="underline text-sm" onclick="editName()">
                Uredi
              </button>
            </div>

            <!-- Forma za uređivanje imena i prezimena -->
            <div
              id="editNameForm"
              class="hidden p-4 bg-white rounded-lg shadow-lg z-20 absolute top-20 left-1/4 right-1/4"
            >
              <form
                action="/account/personal-info"
                method="post"
                class="space-y-4"
              >
                <input type="hidden" name="action" value="updateName" />
                <div>
                  <label
                    for="fullName"
                    class="block text-sm font-medium text-gray-700"
                    >Ime</label
                  >
                  <input
                    type="text"
                    id="fullName"
                    name="fullName"
                    th:value="${user.fullName}"
                    class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                    required
                  />
                </div>

                <div class="flex justify-end space-x-2">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md"
                  >
                    Spremi
                  </button>
                  <button
                    type="button"
                    class="bg-gray-300 py-2 px-4 rounded-md"
                    onclick="cancelEdit()"
                  >
                    Odustani
                  </button>
                </div>
              </form>
            </div>
            <hr />

            <!-- E-mail adresa -->
            <div class="py-4 flex justify-between items-center">
              <div>
                <p class="font-semibold">Email adresa</p>
                <p
                  id="emailDisplay"
                  class="text-gray-800"
                  th:text="${maskedEmail}"
                ></p>
              </div>
              <button class="underline text-sm" onclick="editEmail()">
                Uredi
              </button>
            </div>

            <!--Forma za uređivanje E-mail adresa -->
            <div
              id="editEmailForm"
              class="hidden p-4 bg-white rounded-lg shadow-lg z-20 absolute top-20 left-1/4 right-1/4"
            >
              <form
                action="/account/personal-info"
                method="post"
                class="space-y-4"
              >
                <input type="hidden" name="action" value="updateEmail" />
                <div>
                  <label
                    for="email"
                    class="block text-sm font-medium text-gray-700"
                    >Email</label
                  >
                  <input
                    type="email"
                    id="email"
                    name="email"
                    th:value="${user.email}"
                    class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                    required
                  />
                </div>
                <div class="flex justify-end space-x-2">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md"
                  >
                    Spremi
                  </button>
                  <button
                    type="button"
                    class="bg-gray-300 py-2 px-4 rounded-md"
                    onclick="cancelEdit()"
                  >
                    Odustani
                  </button>
                </div>
              </form>
            </div>
            <hr />

            <!-- Broj telefona -->
            <div class="py-4 flex justify-between items-center">
              <div>
                <p class="font-semibold">Broj telefona</p>
                <p
                  id="phoneDisplay"
                  class="text-gray-800"
                  th:text="${user.phone}"
                ></p>
              </div>
              <button class="underline text-sm" onclick="editPhone()">
                Uredi
              </button>
            </div>
            <!-- Forma za uređivanje broja telefona -->
            <div
              id="editPhoneForm"
              class="hidden p-4 bg-white rounded-lg shadow-lg z-20 absolute top-20 left-1/4 right-1/4"
            >
              <form
                action="/account/personal-info"
                method="post"
                class="space-y-4"
              >
                <input type="hidden" name="action" value="updatePhone" />
                <div>
                  <label
                    for="phone"
                    class="block text-sm font-medium text-gray-700"
                    >Broj telefona</label
                  >
                  <input
                    type="phone"
                    id="phone"
                    name="phone"
                    th:value="${user.phone}"
                    class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                    required
                  />
                </div>
                <div class="flex justify-end space-x-2">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md"
                  >
                    Spremi
                  </button>
                  <button
                    type="button"
                    class="bg-gray-300 py-2 px-4 rounded-md"
                    onclick="cancelEdit()"
                  >
                    Odustani
                  </button>
                </div>
              </form>
            </div>
            <hr />

            <!-- Adresa -->
            <div class="py-4 flex justify-between items-center">
              <div>
                <p class="font-semibold">Adresa</p>
                <p
                  id="addressDisplay"
                  class="text-gray-800"
                  th:text="${user.address}"
                ></p>
              </div>
              <button class="underline text-sm" onclick="editAddress()">
                Uredi
              </button>
            </div>
            <!-- Forma za uređivanje adrese -->
            <div
              id="editAddressForm"
              class="hidden p-4 bg-white rounded-lg shadow-lg z-20 absolute top-20 left-1/4 right-1/4"
            >
              <form
                action="/account/personal-info"
                method="post"
                class="space-y-4"
              >
                <input type="hidden" name="action" value="updateAddress" />
                <div>
                  <label
                    for="address"
                    class="block text-sm font-medium text-gray-700"
                    >Adresa</label
                  >
                  <input
                    type="address"
                    id="address"
                    name="address"
                    th:value="${user.address}"
                    class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                    required
                  />
                </div>
                <div class="flex justify-end space-x-2">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md"
                  >
                    Spremi
                  </button>
                  <button
                    type="button"
                    class="bg-gray-300 py-2 px-4 rounded-md"
                    onclick="cancelEdit()"
                  >
                    Odustani
                  </button>
                </div>
              </form>
            </div>
            <hr />

            <!-- Grad/općina -->
            <div class="py-4 flex justify-between items-center">
              <div>
                <p class="font-semibold">Grad/općina</p>
                <p class="text-gray-800" th:text="${user.city.cityName}"></p>
              </div>
              <button class="underline text-sm" onclick="editCity()">
                Uredi
              </button>
            </div>
            <!-- Forma za uređivanje grada -->
            <div
              id="editCityForm"
              class="hidden p-4 bg-white rounded-lg shadow-lg z-20 absolute top-20 left-1/4 right-1/4"
            >
              <form
                action="/account/personal-info"
                method="post"
                class="space-y-4"
              >
                <input type="hidden" name="action" value="updateCity" />
                <div>
                  <label
                    for="city"
                    class="block text-sm font-medium text-gray-700"
                    >Grad/općina</label
                  >
                  <select
                    id="city"
                    name="city"
                    class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                    required
                  >
                    <option value="" disabled selected>
                      Odaberite grad/općinu
                    </option>
                    <option
                      th:each="city : ${cities}"
                      th:value="${city.cityId}"
                      th:text="${city.cityName}"
                    ></option>
                  </select>
                </div>
                <div class="flex justify-end space-x-2">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md"
                  >
                    Spremi
                  </button>
                  <button
                    type="button"
                    class="bg-gray-300 py-2 px-4 rounded-md"
                    onclick="cancelEdit()"
                  >
                    Odustani
                  </button>
                </div>
              </form>
            </div>
            <hr />

            <!-- Poštanski broj -->
            <div class="py-4 flex justify-between items-center">
              <div>
                <p class="font-semibold">Poštanski broj</p>
                <p
                  id="postCodeDisplay"
                  class="text-gray-800"
                  th:text="${user.postCode}"
                ></p>
              </div>
              <button class="underline text-sm" onclick="editPostCode()">
                Uredi
              </button>
            </div>
            <!-- Forma za uređivanje poštanskog broja -->
            <div
              id="editPostCodeForm"
              class="hidden p-4 bg-white rounded-lg shadow-lg z-20 absolute top-20 left-1/4 right-1/4"
            >
              <form
                action="/account/personal-info"
                method="post"
                class="space-y-4"
              >
                <input type="hidden" name="action" value="updatePostCode" />
                <div>
                  <label
                    for="postCode"
                    class="block text-sm font-medium text-gray-700"
                    >Poštanski broj</label
                  >
                  <input
                    type="number"
                    id="postCode"
                    name="postCode"
                    th:value="${user.postCode}"
                    class="mt-1 p-2 border border-gray-300 rounded-md w-full"
                    required
                  />
                </div>
                <div class="flex justify-end space-x-2">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md"
                  >
                    Spremi
                  </button>
                  <button
                    type="button"
                    class="bg-gray-300 py-2 px-4 rounded-md"
                    onclick="cancelEdit()"
                  >
                    Odustani
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  function editName() {
    document.getElementById("editNameForm").classList.remove("hidden");
    document.getElementById("overlay").classList.remove("hidden");
  }

  function editEmail() {
    document.getElementById("editEmailForm").classList.remove("hidden");
    document.getElementById("overlay").classList.remove("hidden");
  }

  function editPhone() {
    document.getElementById("editPhoneForm").classList.remove("hidden");
    document.getElementById("overlay").classList.remove("hidden");
  }

  function editAddress() {
    document.getElementById("editAddressForm").classList.remove("hidden");
    document.getElementById("overlay").classList.remove("hidden");
  }

  function editCity() {
    document.getElementById("editCityForm").classList.remove("hidden");
    document.getElementById("overlay").classList.remove("hidden");
  }

  function editPostCode() {
    document.getElementById("editPostCodeForm").classList.remove("hidden");
    document.getElementById("overlay").classList.remove("hidden");
  }

  function cancelEdit() {
    document.getElementById("editNameForm").classList.add("hidden");
    document.getElementById("editEmailForm").classList.add("hidden");
    document.getElementById("editPhoneForm").classList.add("hidden");
    document.getElementById("editAddressForm").classList.add("hidden");
    document.getElementById("editCityForm").classList.add("hidden");
    document.getElementById("editPostCodeForm").classList.add("hidden");

    document.getElementById("overlay").classList.add("hidden");
  }
</script>
