<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Postavite račun | SyncRide')}"
    ></th:block>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
      integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
      type="text/css"
    />
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <main>
      <div class="grid md:grid-cols-2 gap-x-32">
        <img th:src="@{/img/setup-carpool.webp}" alt="" />

        <!-- Card Section -->
        <div
          class="max-w-4xl w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
        >
          <!-- Stepper -->
          <div data-hs-stepper="">
            <!-- Stepper Nav -->
            <ul class="relative flex flex-row gap-x-2">
              <li
                class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
                data-hs-stepper-nav-item='{
                  "index": 1
                }'
              >
                <span
                  class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
                >
                  <span
                    class="size-7 flex justify-center items-center shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 hs-stepper-active:bg-emerald-400 hs-stepper-active:text-white hs-stepper-success:bg-emerald-400 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:bg-neutral-700 dark:text-white dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-emerald-300 dark:hs-stepper-success:bg-emerald-300 dark:hs-stepper-completed:bg-teal-500 dark:hs-stepper-completed:group-focus:bg-teal-600"
                  >
                    <span
                      class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                      >1</span
                    >
                    <svg
                      class="hidden shrink-0 size-3 hs-stepper-success:block"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                  </span>
                  <span
                    class="ms-2 text-sm font-medium text-gray-800 dark:text-neutral-200"
                  >
                    Osobni podaci
                  </span>
                </span>
                <div
                  class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-emerald-400 hs-stepper-completed:bg-teal-600 dark:bg-neutral-700 dark:hs-stepper-success:bg-emerald-400 dark:hs-stepper-completed:bg-teal-600"
                ></div>
              </li>

              <li
                class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
                data-hs-stepper-nav-item='{
                  "index": 2
                }'
              >
                <span
                  class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
                >
                  <span
                    class="size-7 flex justify-center items-center shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 hs-stepper-active:bg-emerald-400 hs-stepper-active:text-white hs-stepper-success:bg-emerald-400 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:bg-neutral-700 dark:text-white dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-emerald-300 dark:hs-stepper-success:bg-emerald-300 dark:hs-stepper-completed:bg-teal-500 dark:hs-stepper-completed:group-focus:bg-teal-600"
                  >
                    <span
                      class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                      >2</span
                    >
                    <svg
                      class="hidden shrink-0 size-3 hs-stepper-success:block"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                  </span>
                  <span
                    class="ms-2 text-sm font-medium text-gray-800 dark:text-neutral-200"
                  >
                    O meni
                  </span>
                </span>
                <div
                  class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-emerald-400 hs-stepper-completed:bg-teal-600 dark:bg-neutral-700 dark:hs-stepper-success:bg-emerald-400 dark:hs-stepper-completed:bg-teal-600"
                ></div>
              </li>

              <li
                class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
                data-hs-stepper-nav-item='{
                  "index": 3
                }'
              >
                <span
                  class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle"
                >
                  <span
                    class="size-7 flex justify-center items-center shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 hs-stepper-active:bg-emerald-400 hs-stepper-active:text-white hs-stepper-success:bg-emerald-400 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:bg-neutral-700 dark:text-white dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-emerald-300 dark:hs-stepper-success:bg-emerald-300 dark:hs-stepper-completed:bg-teal-500 dark:hs-stepper-completed:group-focus:bg-teal-600"
                  >
                    <span
                      class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                      >3</span
                    >
                    <svg
                      class="hidden shrink-0 size-3 hs-stepper-success:block"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                  </span>
                  <span
                    class="ms-2 text-sm font-medium text-gray-800 dark:text-neutral-200"
                  >
                    Završno
                  </span>
                </span>
                <div
                  class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-emerald-400 hs-stepper-completed:bg-teal-600 dark:bg-neutral-700 dark:hs-stepper-success:bg-emerald-400 dark:hs-stepper-completed:bg-teal-600"
                ></div>
              </li>
              <!-- End Item -->
            </ul>
            <!-- End Stepper Nav -->

            <!-- Stepper Content -->
            <form
              action="/setup"
              method="POST"
              class="mt-5 sm:mt-8"
              x-data="{ fullName: '',
            city: '',
            address: '',
            phone: '',
            get isAnyInputEmpty() {
              return !this.fullName || !this.city || !this.address || !this.phone;
            }, 
            postCode: 10000, 
            minPostCode: 0, 
            maxPostCode: 60000 }"
            >
              <input type="hidden" name="token" th:value="${token}" />
              <!-- First Content -->
              <div
                data-hs-stepper-content-item='{
                  "index": 1
                }'
              >
                <div
                  class="p-4 space-y-4 bg-white rounded-xl shadow sm:p-7 flex flex-col items-center dark:border dark:bg-neutral-800 dark:border-neutral-700"
                >
                  <div class="w-full">
                    <label
                      for="fullName"
                      class="block text-sm font-medium mb-2 dark:text-white"
                      >Ime i prezime</label
                    >
                    <input
                      type="text"
                      id="fullName"
                      name="fullName"
                      x-model="fullName"
                      class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      placeholder="Vaše ime i prezime"
                      required
                    />
                  </div>

                  <div class="w-full">
                    <label
                      class="block text-sm font-medium mb-2 text-black dark:text-white"
                      >Spol</label
                    >
                    <div class="grid sm:grid-cols-3 gap-2 pb-4">
                      <label
                        for="male"
                        class="flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400"
                      >
                        <input
                          type="radio"
                          name="gender"
                          class="shrink-0 mt-0.5 border-gray-200 rounded-full text-emerald-500 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                          id="male"
                          value="male"
                          checked
                        />
                        <span
                          class="text-sm text-gray-500 ms-3 dark:text-neutral-400"
                          >Muško</span
                        >
                      </label>
                      <label
                        for="female"
                        class="flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400"
                      >
                        <input
                          type="radio"
                          name="gender"
                          class="shrink-0 mt-0.5 border-gray-200 rounded-full text-emerald-500 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                          id="female"
                          value="female"
                        />
                        <span
                          class="text-sm text-gray-500 ms-3 dark:text-neutral-400"
                        >
                          Žensko</span
                        >
                      </label>

                      <label
                        for="other"
                        class="flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400"
                      >
                        <input
                          type="radio"
                          name="gender"
                          class="shrink-0 mt-0.5 border-gray-200 rounded-full text-emerald-500 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                          id="other"
                          value="other"
                        />
                        <span
                          class="text-sm text-gray-500 ms-3 dark:text-neutral-400"
                          >Ostalo</span
                        >
                      </label>
                    </div>
                  </div>
                  <div
                    class="w-full gap-2 sm:gap-4 pt-2 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 dark:border-neutral-700 dark:first:border-transparent"
                  ></div>
                  <div class="relative w-full" data-hs-combo-box="">
                    <label
                      for="city"
                      class="block text-sm font-medium mb-2 text-black dark:text-white"
                      >Grad/općina</label
                    >
                    <div class="relative">
                      <input
                        class="py-3 ps-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        type="text"
                        id="city"
                        x-model="city"
                        role="combobox"
                        aria-expanded="false"
                        data-hs-combo-box-input=""
                        placeholder="Vaš grad/općina"
                        required
                      />
                      <div
                        class="absolute top-1/2 end-3 -translate-y-1/2"
                        aria-expanded="false"
                        data-hs-combo-box-toggle=""
                      >
                        <svg
                          class="shrink-0 size-3.5 text-gray-500 dark:text-neutral-500"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="m7 15 5 5 5-5"></path>
                          <path d="m7 9 5-5 5 5"></path>
                        </svg>
                      </div>
                    </div>
                    <div
                      th:each="city : ${cities}"
                      class="absolute z-50 w-full max-h-72 p-1 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700"
                      style="display: none"
                      data-hs-combo-box-output=""
                    >
                      <input
                        type="hidden"
                        name="cityId"
                        th:value="${city.cityId}"
                      />
                      <div
                        class="cursor-pointer py-2 px-4 w-full text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800"
                        tabindex="0"
                        data-hs-combo-box-output-item=""
                      >
                        <div class="flex justify-between items-center w-full">
                          <span
                            th:data-hs-combo-box-search-text="${city.cityName}"
                            data-hs-combo-box-value=""
                            th:text="${city.cityName}"
                          ></span>
                          <span class="hidden hs-combo-box-selected:block">
                            <svg
                              class="shrink-0 size-3.5 text-emerald-500 dark:text-emerald-400"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path d="M20 6 9 17l-5-5"></path>
                            </svg>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-full">
                    <label
                      for="address"
                      class="block text-sm font-medium mb-2 dark:text-white"
                      >Adresa</label
                    >
                    <input
                      type="text"
                      id="address"
                      name="address"
                      x-model="address"
                      class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      placeholder="Vaša adresa"
                      required
                    />
                  </div>
                  <!-- Input Number -->
                  <div class="w-full">
                    <label
                      for="postCode"
                      class="block text-sm font-medium mb-2 dark:text-white"
                      >Poštanski broj</label
                    >
                    <div
                      :class="{'border-red-500': postCode < minPostCode || postCode > maxPostCode}"
                      class="py-3 px-4 bg-white border border-gray-200 rounded-lg dark:bg-neutral-900 dark:border-neutral-700"
                      data-hs-input-number='{
                      "step": 10,
                      "min": 0,
                      "max": 60000
                    }'
                    >
                      <div
                        class="w-full flex justify-between items-center gap-x-5"
                      >
                        <div class="grow">
                          <input
                            id="postCode"
                            name="postCode"
                            class="w-full p-0 bg-transparent border-0 text-gray-800 focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white"
                            style="-moz-appearance: textfield"
                            type="number"
                            x-model="postCode"
                            aria-roledescription="Number field"
                            value="10000"
                            data-hs-input-number-input=""
                            maxlength="5"
                            required
                          />
                        </div>
                        <div class="flex justify-end items-center gap-x-1.5">
                          <button
                            type="button"
                            class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                            tabindex="-1"
                            aria-label="Decrease"
                            data-hs-input-number-decrement=""
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path d="M5 12h14"></path>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                            tabindex="-1"
                            aria-label="Increase"
                            data-hs-input-number-increment=""
                          >
                            <svg
                              class="shrink-0 size-3.5"
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            >
                              <path d="M5 12h14"></path>
                              <path d="M12 5v14"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                    <p
                      x-show="postCode < minPostCode || postCode > maxPostCode"
                      class="text-sm text-red-600 mt-2"
                      id="hs-validation-name-error-helper"
                    >
                      Poštanski broj je izvan raspona.
                    </p>
                  </div>

                  <div class="w-full">
                    <label
                      for="phone"
                      class="block text-sm font-medium mb-2 dark:text-white"
                      >Broj mobitela</label
                    >
                    <input
                      type="text"
                      id="phone"
                      name="phone"
                      x-model="phone"
                      class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      placeholder="Vaš broj mobitela"
                      required
                    />
                  </div>

                  <!-- End Input Number -->
                </div>
              </div>
              <!-- End First Content -->

              <!-- First Content -->
              <div
                data-hs-stepper-content-item='{
                  "index": 2
                }'
                style="display: none"
              >
                <div
                  class="p-4 space-y-4 bg-white rounded-xl shadow sm:p-7 flex flex-col items-center dark:border dark:bg-neutral-800 dark:border-neutral-700"
                >
                  <div
                    class="w-full"
                    data-hs-file-upload='{
                  "url": "/upload",
                  "extensions": {
                    "default": {
                      "class": "shrink-0 size-5"
                    },
                    "xls": {
                      "class": "shrink-0 size-5"
                    },
                    "zip": {
                      "class": "shrink-0 size-5"
                    },
                    "csv": {
                      "icon": "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M4 22h14a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v4\"/><path d=\"M14 2v4a2 2 0 0 0 2 2h4\"/><path d=\"m5 12-3 3 3 3\"/><path d=\"m9 18 3-3-3-3\"/></svg>",
                      "class": "shrink-0 size-5"
                    }
                  }
                }'
                  >
                    <label
                      for="profilePicture"
                      class="block text-sm font-medium mb-2 dark:text-white"
                      >Profilna slika (opcionalno)</label
                    >
                    <template data-hs-file-upload-preview="">
                      <div
                        class="p-3 bg-white border border-solid border-gray-300 rounded-xl dark:bg-neutral-800 dark:border-neutral-600"
                      >
                        <div class="mb-1 flex justify-between items-center">
                          <div class="flex items-center gap-x-3">
                            <span
                              class="size-10 flex justify-center items-center border border-gray-200 text-gray-500 rounded-lg dark:border-neutral-700 dark:text-neutral-500"
                              data-hs-file-upload-file-icon=""
                            >
                              <img
                                class="rounded-lg hidden"
                                data-dz-thumbnail=""
                              />
                            </span>
                            <div>
                              <p
                                class="text-sm font-medium text-gray-800 dark:text-white"
                              >
                                <span
                                  class="truncate inline-block max-w-[300px] align-bottom"
                                  data-hs-file-upload-file-name=""
                                ></span
                                >.<span data-hs-file-upload-file-ext=""></span>
                              </p>
                              <p
                                class="text-xs text-gray-500 dark:text-neutral-500"
                                data-hs-file-upload-file-size=""
                              ></p>
                            </div>
                          </div>
                          <div class="flex items-center gap-x-2">
                            <button
                              type="button"
                              class="text-gray-500 hover:text-gray-800 focus:outline-none focus:text-gray-800 dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
                              data-hs-file-upload-remove=""
                            >
                              <svg
                                class="shrink-0 size-4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path d="M3 6h18"></path>
                                <path
                                  d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"
                                ></path>
                                <path
                                  d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"
                                ></path>
                                <line x1="10" x2="10" y1="11" y2="17"></line>
                                <line x1="14" x2="14" y1="11" y2="17"></line>
                              </svg>
                            </button>
                          </div>
                        </div>

                        <div
                          class="flex items-center gap-x-3 whitespace-nowrap"
                        >
                          <div
                            class="flex w-full h-2 bg-gray-200 rounded-full overflow-hidden dark:bg-neutral-700"
                            role="progressbar"
                            aria-valuenow="0"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            data-hs-file-upload-progress-bar=""
                          >
                            <div
                              class="flex flex-col justify-center rounded-full overflow-hidden bg-emerald-500 text-xs text-white text-center whitespace-nowrap transition-all duration-500 hs-file-upload-complete:bg-green-500"
                              style="width: 0"
                              data-hs-file-upload-progress-bar-pane=""
                            ></div>
                          </div>
                          <div class="w-10 text-end">
                            <span class="text-sm text-gray-800 dark:text-white">
                              <span data-hs-file-upload-progress-bar-value=""
                                >0</span
                              >%
                            </span>
                          </div>
                        </div>
                      </div>
                    </template>

                    <div
                      class="cursor-pointer p-12 flex justify-center bg-white border border-dashed border-gray-300 rounded-xl dark:bg-neutral-800 dark:border-neutral-600"
                      data-hs-file-upload-trigger=""
                    >
                      <div class="text-center">
                        <span
                          class="inline-flex justify-center items-center size-16 bg-gray-100 text-gray-800 rounded-full dark:bg-neutral-700 dark:text-neutral-200"
                        >
                          <svg
                            class="shrink-0 size-6"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path
                              d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
                            ></path>
                            <polyline points="17 8 12 3 7 8"></polyline>
                            <line x1="12" x2="12" y1="3" y2="15"></line>
                          </svg>
                        </span>

                        <div
                          class="mt-4 flex flex-wrap justify-center text-sm leading-6 text-gray-600"
                        >
                          <span
                            class="pe-1 font-medium text-gray-800 dark:text-neutral-200"
                          >
                            Prenesite svoju datoteku ovdje ili
                          </span>
                          <span
                            class="bg-white font-semibold text-emerald-400 hover:text-emerald-500 rounded-lg decoration-2 hover:underline focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-600 focus-within:ring-offset-2 dark:bg-neutral-800 dark:text-blue-500 dark:hover:text-blue-600"
                            >potražite</span
                          >
                        </div>

                        <p
                          class="mt-1 text-xs text-gray-400 dark:text-neutral-400"
                        >
                          Odaberite datoteku do 10 MB.
                        </p>
                      </div>
                    </div>

                    <div
                      class="mt-4 space-y-2 empty:mt-0"
                      data-hs-file-upload-previews=""
                    ></div>
                  </div>
                  <div class="w-full">
                    <label
                      for="bio"
                      class="block text-sm font-medium mb-2 dark:text-white"
                      >Kratki opis (opcionalno)</label
                    >
                    <textarea
                      id="bio"
                      name="bio"
                      class="py-3 px-4 block w-full resize-none border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      rows="3"
                      placeholder="Recite nam nešto o sebi"
                    ></textarea>
                  </div>
                </div>
              </div>
              <!-- End First Content -->

              <!-- First Content -->
              <div
                data-hs-stepper-content-item='{
                  "index": 3
                }'
                style="display: none"
              >
                <div
                  class="p-4 space-y-4 bg-white rounded-xl shadow sm:p-7 flex flex-col items-center dark:border dark:bg-neutral-800 dark:border-neutral-700"
                >
                  <!-- Form Group -->
                  <div class="w-full">
                    <label
                      class="block text-sm font-medium mb-2 text-black dark:text-white"
                      for="hs-toggle-password"
                      >Lozinka</label
                    >
                    <div class="relative">
                      <input
                        id="hs-toggle-password"
                        type="password"
                        name="password"
                        class="py-3 ps-4 pe-10 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="Unesite lozinku"
                      />

                      <button
                        type="button"
                        data-hs-toggle-password='{
                            "target": "#hs-toggle-password"
                          }'
                        class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-emerald-400 dark:text-neutral-600 dark:focus:text-emerald-500"
                      >
                        <svg
                          class="shrink-0 size-3.5"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            class="hs-password-active:hidden"
                            d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                          ></path>
                          <path
                            class="hs-password-active:hidden"
                            d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                          ></path>
                          <path
                            class="hs-password-active:hidden"
                            d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                          ></path>
                          <line
                            class="hs-password-active:hidden"
                            x1="2"
                            x2="22"
                            y1="2"
                            y2="22"
                          ></line>
                          <path
                            class="hidden hs-password-active:block"
                            d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                          ></path>
                          <circle
                            class="hidden hs-password-active:block"
                            cx="12"
                            cy="12"
                            r="3"
                          ></circle>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="w-full">
                    <label
                      for="hs-toggle-password-2"
                      class="block text-sm font-medium mb-2 text-black dark:text-white"
                      >Potvrda lozinke</label
                    >
                    <div class="relative">
                      <input
                        id="hs-toggle-password-2"
                        name="confirmPassword"
                        type="password"
                        class="py-3 ps-4 pe-10 block w-full border-gray-200 rounded-lg text-sm focus:border-emerald-400 focus:ring-emerald-400 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                        placeholder="Potvrdite lozinku"
                      />
                      <button
                        type="button"
                        data-hs-toggle-password='{
                            "target": "#hs-toggle-password-2"
                          }'
                        class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-emerald-400 dark:text-neutral-600 dark:focus:text-emerald-500"
                      >
                        <svg
                          class="shrink-0 size-3.5"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            class="hs-password-active:hidden"
                            d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                          ></path>
                          <path
                            class="hs-password-active:hidden"
                            d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                          ></path>
                          <path
                            class="hs-password-active:hidden"
                            d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                          ></path>
                          <line
                            class="hs-password-active:hidden"
                            x1="2"
                            x2="22"
                            y1="2"
                            y2="22"
                          ></line>
                          <path
                            class="hidden hs-password-active:block"
                            d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                          ></path>
                          <circle
                            class="hidden hs-password-active:block"
                            cx="12"
                            cy="12"
                            r="3"
                          ></circle>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <!-- End Form Group -->
                </div>
              </div>
              <!-- End First Content -->

              <!-- Button Group -->
              <div class="mt-5 flex justify-between items-center gap-x-2">
                <button
                  type="button"
                  class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                  data-hs-stepper-back-btn=""
                >
                  <svg
                    class="shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="m15 18-6-6 6-6"></path>
                  </svg>
                  Natrag
                </button>
                <button
                  type="button"
                  class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-emerald-400 text-white hover:bg-emerald-500 focus:outline-none focus:bg-emerald-500 disabled:opacity-50 disabled:pointer-events-none"
                  data-hs-stepper-next-btn=""
                  :disabled="(isAnyInputEmpty || postCode < minPostCode || postCode > maxPostCode)"
                >
                  Dalje
                  <svg
                    class="shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="m9 18 6-6-6-6"></path>
                  </svg>
                </button>
                <button
                  type="submit"
                  class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-emerald-400 text-white hover:bg-emerald-500 focus:outline-none focus:bg-emerald-500 disabled:opacity-50 disabled:pointer-events-none"
                  data-hs-stepper-finish-btn=""
                  style="display: none"
                >
                  Završi
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-rocket shrink-0 size-4"
                  >
                    <path
                      d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09z"
                    />
                    <path
                      d="m12 15-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.35 22.35 0 0 1-4 2z"
                    />
                    <path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0" />
                    <path d="M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5" />
                  </svg>
                </button>
              </div>
              <!-- End Button Group -->
            </form>
            <!-- End Stepper Content -->
          </div>
          <!-- End Stepper -->
        </div>
        <!-- End Card Section -->
      </div>
    </main>
  </body>
</html>
